.shop-now-btn{
    position: relative;
    z-index: 10;
}

.shop-now-btn::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #fff);
    transform-origin: 50% 50%;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.shop-now-btn:hover::before{
    top: 0%;
    border-radius: 0px;
}

.shop-now-btn span{
    position: relative;
    z-index: 5;
}